.youtube {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/youtube.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.twitter {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/twitter.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.linkdin {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/linkedin.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.github {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/github.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/instagram.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
