:root {
  --principal-blue: #33546d;
  --low-pink: #f7efed;
  --skyblue: #7fa7b8;
  --hotpink: #f1485b;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-body {
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  width: 100%;
  height: 130px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
  width: 100%;
  height: 60px;
  display: grid;
  background-color: var(--principal-blue);
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .header-icons-container .icons a {
  width: 40px;
  height: 40px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

nav .nav-logo-container {
  margin-left: 50px;
  align-items: center;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

nav .nav-logo-container .logo {
  display: grid;
  grid-template-columns: 80px auto;
}

nav .nav-logo-container .logo p {
  font-family: "Roboto", sans-serif;
  margin: 1.8px 0;
  font-weight: 800;
}

nav .nav-logo-container .logo p:first-child {
  font-size: 2.5rem;
}

nav .nav-logo-container .logo p:last-child {
  font-size: 1.8rem;
}

nav .nav-logo-container img {
  width: 70px;
}

nav .nav-logo-container .logo div {
  padding-top: 5px;
}

.home-main {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-gap: 60px;
  justify-items: center;
  align-items: center;
  height: 100%;
  background-image: url("../assets/images/portada.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.home-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

.home-main button {
  background-color: var(--hotpink);
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 2rem;
  border: none;
  font-weight: 800;

  align-self: baseline;
}

.home-main button a {
  color: var(--low-pink);
}

.home-main h1 {
  color: var(--low-pink);
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  margin: 0;
  align-self: end;
}

.home-main button:active {
  background-color: #c03948;
  border: none;
}

.home-main button:hover {
  transform: scale(1.1);
}

.blogs-main {
  display: grid;
}

.blogs-news-container {
  background-color: var(--skyblue);
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
}

.blogs-main-new h3 {
  font-size: 2.5rem;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 100%;
}

.blogs-news-info-container {
  grid-column: 2;
  margin-left: 30px;
}

.blogs-news-info-container h2 {
  font-size: 2.5rem;
}

.blogs-news-info-container p {
  margin-bottom: 20px;
  font-size: 2rem;
}

.blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}

.blogs-button {
  border: 1px solid var(--hotpink);
  padding: 10px 15px;
  font-size: 1.2rem;
  position: relative;
  border-radius: 10px;
}

.blogs-button:hover {
  border: 1px solid white;
  color: white;
  background-color: var(--hotpink);
}

.post-container .blogs-button {
  position: relative;
  top: -15px;
}

.blogs-posts-container .post-container {
  display: inline-block;
  padding: 10px;
  max-width: 30%;
  min-height: 465px;
  margin: 0 2.5px;
  margin-bottom: 50px;
  border: 1px solid gray;
  border-radius: 10px;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
  font-size: 1.6rem;
}

.blogs-posts-container .post-container h4 {
  font-size: 2rem;
}

.blogs-posts-container .post-container img {
  width: 100%;
  height: 195px;
}

.blogs-posts-container h3 {
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 80px;
  background-color: var(--principal-blue);
  border-top: 35px solid var(--skyblue);
  text-align: center;
}

footer p {
  color: var(--low-pink);
  margin-top: 30px;
  font-size: 1.8rem;
}

.blogpost-img-container {
  padding: 0 50px 40px;
}

.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  padding: 0 50px 40px;
}
.blogpost-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

.blogpost-main-container article h1 {
  font-size: 3.5rem;
}

.blogpost-main-container article p {
  font-size: 2rem;
}

.blogpost-main {
  background-color: var(--low-pink);
}

.contact-main-container {
  width: 100%;
  height: 200px;
  display: inline-flex;
  background-color: #cdd2da;
  justify-content: center;
  align-items: center;
}

.contact-main-container img {
  width: 100px;
}

.contact-main-container div:first-child {
  display: inline-flex;
  align-items: center;
}

.contact-left {
  margin-left: 15px;
  font-size: 1.5rem;
  align-self: flex-end;
}

.contact-main-container a {
  color: black;
  border-bottom: 1px solid black;
}

.contact-main-container p {
  max-width: 250px;
  margin-bottom: 0;
}

.perfil-main {
  background-color: var(--skyblue);
}

.perfil-container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  padding: 50px;
}

.perfil-container img {
  width: 100%;
  border-radius: 10px;
}

.perfil-container div:last-child {
  margin-left: 20px;
}

.perfil-container p {
  font-size: 1.8rem;
}

.perfil-container h2 {
  font-size: 2.5rem;
}
